fichier : stylesheet.css

#header {

	position: relative;
	top: -20px;
	background-color:  	#331f1d;
	border-top-left-radius: 20px;
	border-top-right-radius: 15px;
	
}
a{
    color:#FFF0F5;
    text-decoration:none;
}
a:hover{
    color:#00FF00;
}

h2{
font-size: 60px;
font-family: across the stars;
text-align:center;

}

h3{
color: #2F4F4F;
font-size:40px;
font-family: across the stars;
text-align:center;
}


body{
background-attachment:fixed;
}


#bottom{
width:200px;
height:200px;
}

#liste{
color:#FFF0F5;
font-size: 13px;
}

img{
width:170px;
height:170px;
}

table,td{
border: 2px solid #331f1d;
margin-left:300px;
}

p{
display:inline-block;}

#button{
position:relative;
height:50px;
width:120px;
background-color:#fbf1e0;
border-width:2px;
border-style:solid;
border-radius:6px;
margin-left:230px;
text-align:center;
font-family: across the stars;	
display: inline-block;
}
#barre {


height: 170px;
width: 269px;
background-color: #331f1d;
float:left;
margin-left: 0px;
font-family: across the stars;
}


#footer{
    clear:both;
	position: relative;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #331f1d;
	font-family: across the stars;
	color:#FFF0F5;
	text-align: center;
	margin-left: 6px;
}
